/* filtres.module.css */
.filtresContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  max-width: 250px;
  width: 100%;
  height: auto; /* Ajuste la hauteur au contenu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  justify-content: space-between; /* Espacement vertical des groupes */
  position: sticky; /* Barre de filtres fixe sur desktop */
  top: 20px; /* Espace en haut de la barre */
}

.filtresTitle {
  margin-bottom: 15px;
  font-weight: bold;
}

.filterGroup {
  margin-bottom: 10px;
}

.filterGroup h3 {
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterOptions {
  display: flex;
  flex-direction: column;
}

.filterGroup label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filterGroup input[type="checkbox"] {
  margin-right: 10px;
}

.filterGroup input[type="number"] {
  width: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .filtresContainer {
    max-width: 250px; /* Largeur fixe de 250px sur mobile */
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    align-self: center; /* Centre horizontalement sur mobile */
    position: relative;
  }
}
